<div class="card mt-5">
    <div class="card-body">
        <h2>Datos</h2>
        <br>
        <!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'productForm' -->
        <form #alumnoForm="ngForm" (ngSubmit)="onSubmit(alumnoForm)">

            <!-- TO UPDATE -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="alumnoService.selectedAlumno.$key">

            <div class="form-group">
                <input type="text" class="form-control" name="name" #name="ngModel"
                    [(ngModel)]="alumnoService.selectedAlumno.name" placeholder="Agregar Nombre">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="lastname" #name="ngModel"
                    [(ngModel)]="alumnoService.selectedAlumno.lastname" placeholder="Agregar Apellido">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="age" #name="ngModel"
                    [(ngModel)]="alumnoService.selectedAlumno.age" placeholder="Agregar Edad">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="direccion" #name="ngModel"
                    [(ngModel)]="alumnoService.selectedAlumno.direccion" placeholder="Agregar Direccion">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="telefono" #name="ngModel"
                    [(ngModel)]="alumnoService.selectedAlumno.telefono" placeholder="Agregar Telefono">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="correo_electronico" #name="ngModel"
                    [(ngModel)]="alumnoService.selectedAlumno.correo_electronico" placeholder="Agregar Mail">
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Agregar Alumno
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(alumnoForm)">
                    <i class="fas fa-sync-alt"></i> Limpiar
                </button>
            </div>
        </form>
    </div>
</div>
